.img-frame {
  display: flex;
  margin-left: 315px;
  margin-top: 75px;
}

.my-img {
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.my-img img {
  display:flex;
  object-fit: cover;
  width: 200px; 
  height: 200px; 
}

.my-img:hover {
  transform: scale(1.3); /* Adjust the scale factor for the desired zoom level */
}
